body{
    background-color: #F4DEA6;
    column-count: 2;
    column-gap: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.force-break{
    break-before:column;
}

h1{
    text-align: center;
    background-color: #AF929D;
    font-family: "Playfair Display", serif;
}

#foto_mabel{
    display: block; /*va a empezar en un linea nueva y ocupar todo el espacio de ancho posible*/
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 10px;
}
.fa-solid {
    color: #AF929D;
}
h2{
    text-align: center;
    font-family: "Open Sans", serif;
}

.violeta{
    color: #AF929D;
}

h3{
    background: rgb(235,109,117);
    background: linear-gradient(90deg, rgba(235,109,117,1) 37%, rgba(255,0,0,1) 100%);
    font-family: "Open Sans", serif;
}

.lista{
    background-color: #7DDA58;
    width: 200px;
    height: 100px;
    padding: 25px;
    box-sizing: border-box;
    margin-left: 100px;
}
h4{
    background-color: #AF929D;
    font-family: "Open Sans", serif;
}
a{
    color: #091540;
}
p, ul, ol{
    font-family: "Open Sans", serif;
}