.cajas {
    display: flex;
    justify-content: center;
}

.caja {
    width: 100px;
    height: 100px;
}

#caja1 {
    background-color: #fff333
}

#caja2 {
    background-color: #ff33c7
}

#caja3 {
    background-color: #33afff
}